<header class="post-header">
    <h4>{{{title}}} <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do"}}</time></h4>

</header>
<section class="post-excerpt">
    {{content}}
</section>